/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
.belo_prev_next {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.belo_prev_next {
  width: 100%;
}

.prev_buttn {
  float: left !important;
  border: none;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
}

.next_buttn {
  float: right !important;
  border: none;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
}
.belo_link_buttons {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  min-width: 120px !important;
}

.belo_link_buttons:focus {
  box-shadow: none !important;
  outline: none !important;
  text-decoration: none !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.belo_link_buttons.next::after {
  font-family: Dashicons;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  content: "\f345";
  line-height: 28px;
}

.belo_link_buttons.prev::before {
  font-family: Dashicons;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  content: "\f341";
  line-height: 28px;
}
